<form action="/create" method="post">
    <h2>Create ToDo</h2>

    <div class="input-field">
            <input type="text" name="titleName" id="">
        <label for="">Todo title</label>
    </div>
    <button type="submit" class="btn">Create</button>
</form>

